body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px
}

header {
    background-color:grey
}

nav {
    background-color: lightslategrey;
}

main {
    background-color: lightsteelblue;
    font-size: 14px;
}

footer {
    background-color: gray
}

li {
    display: flex;
    width: 300px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}

p {
    line-height: 1.5;
}
