body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px
}

header {
    background-color: grey
}


.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.grid img {
    width: 100%;
    height: 90%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


nav {
    display: inline-block;
    width: 80%;
}

img {
    width: 10%;
    position: relative;
    top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main {
    background-color: lightsteelblue;
    font-size: 14px;
}

footer {
    background-color: gray
}

/* li {
    display: flex;
    width: 300px;
} */

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(225, 221, 221);
}

nav a {
    text-decoration: none;
    color: rgb(210, 202, 202);
    font-weight: bold;
}

p {
    line-height: 1.5;
}